/******************************* Following is from style.css *****************************************/
:root {
  --background-color: #ffffff; /* Light background */
  --text-color: #000000;       /* Dark text */
  --primary-color: #4169E1;    /* Royal Blue */
  --secondary-color: #FF7F50;  /* Coral */
}

/* Dark Mode Styles */
[data-theme="dark"] {
  --background-color: #121212; /* Dark background */
  --text-color: #E0E0E0;       /* Light text */
  --primary-color: #1E90FF;    /* Electric Blue */
  --secondary-color: #FF1493;  /* Neon Pink */
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, a {
  color: var(--primary-color);
}

button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
   }

table, th, td {
    text-align: center;
  }

/************************* Following is ex msfs link styling *****************************************/

.leaflet-control {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.leaflet-control-zoom {
    border-radius: 10px;
}

.leaflet-control-zoom a, .leaflet-control-zoom a:hover {
    background-color: var(--primary-color);
}

.msfs-link-main-container {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    /* height: 100%; */
    width: 100%;
}

.map {
    /* height: calc(100vh - var(--navbar-height) - var(--footer-height)); */
    width: 100%;
    border-radius: 25px;
    margin: 10px 10px 10px 10px;
}

.time {
  position: absolute;
  top: 10px;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
  z-index: 5000;
  background-color: var(--background-color);
}

#time {
  padding: 0;
  margin: 0;
}

.menu-button {
  position: absolute;
  top: 40%;
  left: 10px;
  margin-left: 10px;
  display: block;
  z-index: 5000;
}

.burger-button {
  height: 44px;
  border-radius: 5px;
  border-color: #1E90FF;
  background-color: #1E90FF;
}
.user-menu {
  display: block;
  position: absolute;
  padding: 15px;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  bottom: 10px;
  z-index: 5000;
  height: 50%;
  width: 97%;
  background-color: var(--background-color);
  overflow: auto;
}


.simconnect-status-container {
    position: absolute;
    left: 10px;
    cursor:default;
}

.vatsim-networkinfo-container {
    position: absolute;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #00ff6a; */
}

.vatsim-networkinfo-container p{
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--background-color);
    font-style: bold;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.ui-control {
    position: absolute;
    right: 10px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 10px;
    justify-content: center;
    align-content: center;
}

.ui-control button {
    border-radius: 10px;
    height: 30px;
    width: 50px;
    border: none;
    outline: none;
    background-color: #4bff45;
}


.aircraft-data-container {
    position: absolute;
    top: 100px;
    right: 15px;
    height: auto;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.781);
    z-index: 5000;
    overflow: auto;

}

.aircraft-data-container p {
    margin-bottom: 0;
}

.vatsim-events-container {
    position: absolute;
    bottom: 10px;
    right: 15px;
    height: 60%;
    width: 44%;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.781);
    z-index: 5000;
    overflow: auto;
}

.vatsim-events-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.vatsim-event-list {
    list-style: none;
}

/* Customize the popup */
.leaflet-popup-content-wrapper {
    height: auto;
    width: auto;
    background-color: #3261fd; 
    color: #ffffff;            
    font-size: 14px;
    padding: 10px;              
    border-radius: 8px;         
    border: 2px solid #007bff; 
  }

.leaflet-popup-content, .leaflet-popup-content p {
    margin: 0;
}

  /* Customize the popup tip */
.leaflet-popup-tip {
  background: #3261fd; /* Color the tip */
}

.popup {
  margin: 0, 0, 0, 0;
  padding: 0, 0, 0, 0;
  font-weight: bold;
  background-color: #4bff45;
}

@media (max-width:800px) {
  body, html {
    height: auto;
  }
}
